In [1]:
import pandas as pd

In [4]:
data_file_path = "raw_data_v2.csv"
data = pd.read_csv(data_file_path)
data = data.drop("Unnamed: 0", axis=1)

In [6]:
data

,Extraverted,Intuitive,Thinking,Judging,Assertive,Age,Math,English,Science,Art,...,ACT Science,0,1,2,3,4,5,6,7,8
0,40,40,60,40,50,17,1.0,1.0,1.0,1.0,...,35,0,1,0,0,0,0,0,0,1
1,60,60,40,40,50,16,1.0,3.0,3.0,2.0,...,35,0,1,0,0,0,0,0,0,1
2,34,72,62,100,51,15,2.0,4.0,4.0,1.0,...,35,1,0,0,0,0,0,0,1,0
3,24,38,27,29,31,15,5.0,3.0,4.0,1.0,...,35,1,0,0,0,0,0,0,1,0
4,40,60,60,60,50,18,1.0,5.0,1.0,1.0,...,35,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,29,61,75,76,89,73,1.0,1.0,1.0,NaN,...,35,0,1,0,0,0,0,0,0,1
63,49,77,36,69,58,14,NaN,1.0,1.0,1.0,...,35,0,0,0,0,1,0,0,0,1
64,81,55,41,32,18,14,3.0,3.0,1.0,1.0,...,35,1,0,0,0,0,0,0,1,0
65,43,37,34,36,49,15,1.0,5.0,1.0,1.0,...,35,0,0,0,0,0,1,0,1,0
66,41,40,55,61,65,48,1.0,1.0,1.0,NaN,...,35,0,1,0,0,0,0,0,1,0

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
num_imputer = SimpleImputer()

In [9]:
num = (data.dtypes == 'float64')
number_cols = list(num[num].index)
number_data = data[number_cols]

In [10]:
imputed_number_data = pd.DataFrame(num_imputer.fit_transform(number_data))

In [12]:
imputed_number_data.columns = number_data.columns

In [14]:
imputed_number_data

,Math,English,Science,Art,History,SAT,SAT Math,SAT Reading,ACT
0,1.000000,1.0,1.0,1.000000,1.000000,1170.000000,597.058824,625.294118,28.333333
1,1.000000,3.0,3.0,2.000000,5.000000,1218.571429,597.058824,625.294118,28.333333
2,2.000000,4.0,4.0,1.000000,2.000000,1218.571429,597.058824,625.294118,28.333333
3,5.000000,3.0,4.0,1.000000,1.000000,1218.571429,597.058824,625.294118,28.333333
4,1.000000,5.0,1.0,1.000000,1.000000,1218.571429,597.058824,625.294118,28.333333
...,...,...,...,...,...,...,...,...,...
62,1.000000,1.0,1.0,1.355556,4.000000,1218.571429,597.058824,625.294118,28.333333
63,2.046154,1.0,1.0,1.000000,1.000000,1218.571429,597.058824,625.294118,28.333333
64,3.000000,3.0,1.0,1.000000,3.000000,1218.571429,597.058824,625.294118,28.333333
65,1.000000,5.0,1.0,1.000000,1.000000,1090.000000,590.000000,500.000000,28.333333
66,1.000000,1.0,1.0,1.355556,2.050847,1218.571429,597.058824,625.294118,28.333333

In [15]:
personality_features = ['Extraverted', 
            'Intuitive', 
            'Thinking', 
            'Judging', 
            'Assertive',
            'Age']

In [16]:
personality_data = data[personality_features]

In [17]:
clean_data = pd.concat((personality_data, imputed_number_data), axis=1)

In [18]:
clean_data

,Extraverted,Intuitive,Thinking,Judging,Assertive,Age,Math,English,Science,Art,History,SAT,SAT Math,SAT Reading,ACT
0,40,40,60,40,50,17,1.000000,1.0,1.0,1.000000,1.000000,1170.000000,597.058824,625.294118,28.333333
1,60,60,40,40,50,16,1.000000,3.0,3.0,2.000000,5.000000,1218.571429,597.058824,625.294118,28.333333
2,34,72,62,100,51,15,2.000000,4.0,4.0,1.000000,2.000000,1218.571429,597.058824,625.294118,28.333333
3,24,38,27,29,31,15,5.000000,3.0,4.0,1.000000,1.000000,1218.571429,597.058824,625.294118,28.333333
4,40,60,60,60,50,18,1.000000,5.0,1.0,1.000000,1.000000,1218.571429,597.058824,625.294118,28.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,29,61,75,76,89,73,1.000000,1.0,1.0,1.355556,4.000000,1218.571429,597.058824,625.294118,28.333333
63,49,77,36,69,58,14,2.046154,1.0,1.0,1.000000,1.000000,1218.571429,597.058824,625.294118,28.333333
64,81,55,41,32,18,14,3.000000,3.0,1.0,1.000000,3.000000,1218.571429,597.058824,625.294118,28.333333
65,43,37,34,36,49,15,1.000000,5.0,1.0,1.000000,1.000000,1090.000000,590.000000,500.000000,28.333333
66,41,40,55,61,65,48,1.000000,1.0,1.0,1.355556,2.050847,1218.571429,597.058824,625.294118,28.333333

In [19]:
clean_data.to_csv('clean_data_v2.csv')